.env
.DS_Store
node_modules
apps/*/node_modules
apps/*/.next
apps/*/.vercel
apps/*/out
apps/*/dist
apps/*/build
apps/*/coverage
apps/*/playwright-report
apps/*/test-results
apps/*/*.tsbuildinfo
apps/*/next-env.d.ts
packages/*/node_modules
packages/*/dist
thoughts
